body {
}

.header-banner {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images_auth/login_wallpaper.jpg');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3%;
	min-height: 500px;
}

#login-title{
	font-size: 80px;
	font-weight: bold;
}

#login-subtitle{
	font-family: Lato, sans-serif;
	margin-top: 3%;
	font-size: 40px;
	color: white;
	font-weight: 100;
}

#btn-user, #btn-company, #button-logout, #button-dashboard{
	margin-left: 5px;
	margin-top: 3%;
}

.btn-login {
	-webkit-border-radius: 54;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:'Lato', sans-serif;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	box-shadow: 1px 1px 6px black;
	text-decoration: none;
	text-shadow: 2px 2px 5px black;
}

.btn-login:hover {
	background: #222222;
	text-decoration: none;
	color: #ffffff;
	border: solid #222222 2px;
	transition: 0.3s all linear;
}

.middle {
	text-align: center;
	margin : 20px;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.login-panel {
		text-align: center;
		margin : 20px;
}

.login .title {
	font-family: 'Montserrat', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 3em;
	text-shadow: 3px 3px 10px black;
}

.login p {
	font-family: 'Lato';
	color: black;
	/*font-style: bold;*/
	font-size: 1.3em;
}

/* Navbar */
.navbar .navbar-brand {
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	margin-left: 30%;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-header a:hover {
	width: 150%;
	transition: 0.7s all linear;
	height: 150%;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-h4 {
    font-family:'Lato', sans-serif;
    color: black;
    text-align: center;
    font-size: 3em;
}

.modal-title {
		margin-top: 75px;
    font-family: "Lato";
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.top {
    height: 480px;
}

/* Testimonies */
#testimonies {
	margin: auto;
	text-align: center;
	padding: 10px;
}

.row img {
  border: 0 none;
  display: inline;
  align: center;
  margin: 10px;
  height: auto;
  max-width: 100px;
  vertical-align: middle;
  filter: grayscale(50%);
}

#login-status{
	font-weight: 800;
	background-color: lightgrey;
	width: 45%;
	padding: 5px;
}

#button-login-company, #button-login-dummy-company{
	margin: 2%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .row img {
    display: block;
  }
}
