body {
	font-family: Lato, sans-serif; margin:0;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

/* Slideshow container */
#slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  max-height: 300px;
  color: white;
}

.slideshow-content {
	margin: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
#loop {
	padding: 3%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#header-body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/job-list-wallpaper.jpg');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3%;
}

/* Slideshow content */
#title-div{
	text-align: center;
}

.title {
	color: white;
	font-size: 60px;
	text-shadow: 10%;
}

.block {
	width: 300px;
	text-align: center;
	margin: auto;
	max-height: 400px;
	text-shadow: 3px 3px 10px black;
}

.block-name {
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-size: 3em;
}

.block-title {
	text-shadow: 3px 3px 10px black;
}

.block-description {
	text-shadow: 1px 1px 8px black;
}

.block-question {
	margin-top: 10px;
	-webkit-border-radius: 54;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:'Lato', sans-serif;
	font-size: 12px;
	padding: 8px 16px 8px 16px;
	border: solid #ffffff 1px;
	box-shadow: 1px 1px 6px black;
}

.block-question a {
	text-decoration: none;
}

.block-question:hover {
	background: #222222;
	text-decoration: none;
	color: #ffffff;
	border: solid #222222 2px;
	transition: 0.3s all linear;
}

.job-list {
	display: block;
	opacity: 1;
	transition: opacity .75s ease-in-out;
}

.job-image {
	vertical-align: middle;
	height: 50px;
	border-radius: 100%;
}

/* Navbar */
.navbar .navbar-brand {
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	margin-left: 30%;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-header a:hover {
	width: 150%;
	transition: 0.7s all linear;
	height: 150%;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

.nav-btn {
	line-height: 60px;
	font-family:'Lato', sans-serif;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.nav-btn:hover {
	background-color: #000080;
	text-decoration: none;
	transition: 0.3s all linear;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}